/* START - split-section */
.split-section {
    position: relative;
}

.split-section .container {
    max-width: 100%;
}

.split-section .row > div {
    height: 700px;
}

.split-section .text-wrapper {
    padding: 30px 16%;
}

.split-section .main-img {
    height: 100%;
    object-fit: cover;
}

.split-section img {
    width: 100%;
}

.split-section p {
    margin-top: 40px;
    font-size: 22px;
    line-height: 35px;
}

.split-section .btn {
    margin-top: 40px;
}

.split-section .bk-img {
    position: absolute;
    left: -30%;
    bottom: -160px;
    z-index: -1;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgs-container {
    position: relative;
}

/* END - split-section */

.ambassadors-divider {
    height: 100px;
    border-right: 1px solid #707070;
}

@media screen and (max-width: 768px) {
    .split-section .main-img {
        width: 100%;
    }
    .split-section .row > div {
        height: fit-content;
    }

    .ambassadors-divider {
        margin-top: 3%;
    }

    .split-section .text-wrapper {
        padding: 30px 10%;
    }
}
/* .mainsections {
    background: rgb(9, 9, 121);
    background: linear-gradient(
135deg
, rgba(9, 9, 121, 1) 0%, rgba(0, 103, 159, 1) 41%, rgba(198, 85, 184, 1) 71%, rgba(198, 85, 184, 1) 96%);
} */
.sound.mute {
    background-image: url(/Assets/volume-mute.svg);
}
.general-header {
    background-image: url(/Assets/header-background.png);
    color: #ffffff;
    background-size: cover;
}
.text-section {
    padding: 110px 0 110px;
}
.text-center {
    text-align: center!important;
}
.btn, .btn:hover, .btn:focus {
    padding: 10px 25px;
    margin-top: 40px;
    background-image: linear-gradient(to bottom, #8743FF, #4437F2);
    color: #ffffff;
    border: none;
    box-shadow: none;
}
p.ambassadors {
    font-size: 20px;
    font-weight: 100;
    color: #000000b5;
}
a.nav-link.text-light.fs-6.text-orchid {
    color: #dc50c7 !important;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0 !important;
}
.presentation-tab {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9;
    background-color: #710cfd;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.presentation-tab > span {
    width: 25px;
    padding: 0.6rem 0 0.15rem;
    font-size: 0.8rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-weight: 600;
    line-height: 1.5rem;
}
.social-icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}
.icon-bar a .icon-text {
    display: none;
}

.icon-bar:hover .icon-text {
    position: relative;
    display: block;
    z-index: 99999999;
}

.social-icon-bar a:hover {
    background-color: #2a2a2a;
    color: var(--violet-color);
}
.icon-bar{
    position: fixed !important;
    top: 40% !important;
}