#navbar_top {
    transition: 0.3s all linear;
}

#navbar_top:not(.fixed-top) {
    background-color: #091125 !important;
}

#navbar_top .nav-item .nav-link {
    text-transform: uppercase;
}

/* .herosection {
    background: rgb(9, 9, 121);
    background: linear-gradient(135deg, rgba(9, 9, 121, 1) 0%, rgba(0, 103, 159, 1) 41%, rgba(198, 85, 184, 1) 71%, rgba(198, 85, 184, 1) 96%);
} */

.herosection .description {
    max-width: 310px;
}

.slick-prev:before {
    content: "\f284" !important;
}

.slick-next:before {
    content: "\f285" !important;
}

.slick-prev:before, .slick-next:before {
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    display: inline-block;
    color: var(--bs-body-color) !important;
}

.partner-company-logos-container {
    /*max-width: 50rem;*/
    margin-top: 5rem;
    padding-top: 5rem;
}

.partner-company-logos-container .partner-company-logos .item img {
    max-height: 90px;
    width: auto;
    margin: 0 auto;
}

.iconbox .card-img {
    height: 45px;
    width: 45px;
    margin-right: .5rem;
}

.hero-image {
    width: 85%;
    max-width: 60rem;
    animation: zoomIn 0.7s linear;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: .5;
        transform: scale(.5);
    }
    75% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.circleArrow {
    opacity: 0;
    z-index: 1;
}


.secondSection .circleArrow {
    position: absolute;
    bottom: 15%;
    right: 35%;
    top: auto;
}

.thirdSection .circleArrow {
    top: -5%;
    right: -90%;
}


.forthSection .circleArrow {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 10%;
}

.fifthSection .circleArrow {
    top: 12%;
    right: -90%;
}

.sixthSection .circleArrow {
    top: -15%;
    right: -8%;
}

.tenthSection .circleArrow {
    top: -3rem;
    right: -80%;
}


.section-description-container {
    max-width: 430px;
}

.section-description-container.smaller {
    max-width: 330px;
}

.section-description-container .section-description-header {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;

}

.secondSection {
    min-height: 100vh;
    overflow: hidden;
    background-image: url(./Assets/RIght\ Side\ background.png);
    background-size: auto 80%;
    background-position: right;
    background-repeat: no-repeat;
}

.seventhSection .mask {
    position: absolute;
    width: 100%;
    max-width: 17.5rem;
}

.seventhSection .mask:nth-child(2) {
    top: 20%;
    left: 30%;
}

.seventhSection .mask:nth-child(3) {
    top: 45%;
    left: 5%;
}

.seventhSection .mask:nth-child(4) {
    top: 65%;
    left: 45%;
}


.we-care {
    position: absolute;
    width: 330px;
    right: 0;
    top: 0;
    text-align: left;
}

#imagebox3::before {
    content: '';
    height: 1px;
    width: 1px;
    position: absolute;
    border-radius: 50%;
    top: 55%;
    box-shadow: 0px 0px 7rem 11rem #7c6afd9c;
    z-index: -1;
    left: 35%;
}

.cardimg.cardone {
    height: 17rem !important;
}

footer {
    line-height: 1.5em;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.social-media-links a {
    display: inline-block;
    margin: .5rem 0;
}

.social-media-links a i {
    font-size: 1.5rem;
}

.contact-us p {
    font-size: 22px;
}

.address p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}

.site-map {
    float: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

.site-map a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

.disclaimer {
    padding: 20px 0;
    line-height: 1.5em;
}

.disclaimer p {
    font-size: 12px;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 0px;
}

.copyrights {
    margin-top: 1rem;
}

.copyrights p {
    margin-bottom: 0;
}

.copyrights .ltd p {
    font-size: 12px;
    line-height: 1.5em;
}

@media screen and (max-width: 767px) {
    .circleArrow {
        display: none;
    }

    .herosection .description {
        max-width: 100%;
    }

    img#main-logo {
        max-height: 3.5rem;
    }

    .we-care {
        margin-top: 2rem;
        position: relative;
        width: 100%;
        right: 0;
        top: 0;
    }

    .apply-now {
        margin-top: 12rem !important;
    }

    .ninthSection::after {
        position: relative;
        bottom: -50px;
        height: 12rem;
    }

    .cardimg.cardone {
        height: 100% !important;
    }

    .mainsection::before {
        height: 75%;
    }

    .cardOuter {
        margin: 2rem auto 0;
    }
}
a.nav-link.text-light.fs-6.text-orchid {
    color: #dc50c7 !important;
}
