h3 {
    margin-top: 30px;
}

.early-access {
    margin-top: 100px;
    margin-bottom: 150px;
}

.subscribe-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

input:focus-visible {
    outline: none;
}

input[type="text"],
input[type="email"] {
    padding: 20px 30px;
    border-radius: 16px;
    border: none;
    font-size: 14px;
    width: 70%;
    background-color: var(--gray);
    color: var(--primary);
}

input::placeholder {
    color: var(--primary);
    opacity: 0.5;
}

.custom-alert {
    position: absolute;
    bottom: -20px
}

.subscribe-img img {
    width: 100%;
}
/* .mainsections {
    background: rgb(9, 9, 121);
    background: linear-gradient(
135deg
, rgba(9, 9, 121, 1) 0%, rgba(0, 103, 159, 1) 41%, rgba(198, 85, 184, 1) 71%, rgba(198, 85, 184, 1) 96%);
} */
input[type="text"], input[type="email"] {
    padding: 20px 30px;
    border-radius: 16px;
    border: none;
    font-size: 14px;
    width: 100%;
    background-color: #e7e7e7;
    color: black;
}
h2.subscribe{
    font-size: 45px;
    font-weight: bold;
    line-height: 57px;
    text-align: initial !important;
}
@media (max-width: 767px) {
h2.subscribe{
    font-size: 40px !important;
    font-weight: bold;
    line-height: 57px;
    text-align: initial !important;
}
}
@media (max-width: 640px) {
    h2.subscribe{
        font-size: 40px !important;
        font-weight: bold;
        line-height: 57px;
        text-align: initial !important;
    }
    }
p.subscribe_para{
font-size: 22px;
    line-height: 35px;
    margin: 0;
}
.purple {
    color: #6B0DEE;
}
.btn, .btn:hover, .btn:focus {
    padding: 10px 25px;
    margin-top: 40px;
    background-image: linear-gradient(to bottom, #8743FF, #4437F2);
    color: #ffffff;
    border: none;
    box-shadow: none;
}
a.nav-link.text-light.fs-6.text-orchid {
    color: #dc50c7 !important;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0 !important;
}
.presentation-tab {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9;
    background-color: #710cfd;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.presentation-tab > span {
    width: 25px;
    padding: 0.6rem 0 0.15rem;
    font-size: 0.8rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-weight: 600;
    line-height: 1.5rem;
}
.social-icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}
.icon-bar a .icon-text {
    display: none;
}

.icon-bar:hover .icon-text {
    position: relative;
    display: block;
    z-index: 99999999;
}

.social-icon-bar a:hover {
    background-color: #2a2a2a;
    color: var(--violet-color);
}
.icon-bar{
    position: fixed !important;
    top: 40% !important;
}